@using Domain.Entities

@model IEnumerable<Event>

@{
    
    Layout = null;
}




<!DOCTYPE html>
<htnl>
    <head>
        <title>TAL-education</title>
        <meta charset="UTF-8">
        <title>Document</title>
        <meta name="description" content="Site for EPAMers education">
        <meta name="keywords" content="EPAM, TAL, Education">
        <link href="~/Content/css/category-all.css" rel="stylesheet" />
        <link href="~/Content/css/fonts.css" rel="stylesheet" />
        <link href="~/Content/css/media-queries-category-all.css" rel="stylesheet" />
        <link href="~/Content/css/media-queries-index.css" rel="stylesheet" />
        <link href="~/Content/css/media-queries-pdp.css" rel="stylesheet" />
        <link href="~/Content/css/media-queries-shop-cart.css" rel="stylesheet" />
        <link href="~/Content/css/media-queries-thank-you.css" rel="stylesheet" />
        <link href="~/Content/css/pdp.css" rel="stylesheet" />
        <link href="~/Content/css/reset.css" rel="stylesheet" />
        <link href="~/Content/css/shop-cart.css" rel="stylesheet" />
        <link href="~/Content/css/style.css" rel="stylesheet" />
        <link href="~/Content/css/styles.css" rel="stylesheet" />
        <link href="~/Content/css/thank-you.css" rel="stylesheet" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="~/Scripts/EScripts/Common/jquery-2.2.0.min.js"></script>
        @*<script src="~/Scripts/EScripts/category.js"></script>
        <script src="~/Scripts/EScripts/db.js"></script>*@
        <script src="~/Scripts/EScripts/index.js"></script>
        @*<script src="~/Scripts/EScripts/shop.js"></script>*@
        @Scripts.Render("~/Scripts/Escripts/index.js")

        <script src="~/Scripts/EScripts/Common/lodash.js"></script>

    </head>

    <body>
        <div id="wrapper">
            <header>
                <a id="logo" href=""><div id="logo-text">SH</div></a>
                <div id="basket">
                    <a href="">
                        <img class="basket-img-small" src="~/Content/css/IMG/star.png" alt="star"><img class="basket-img-big" src="~/Content/css/IMG/star.png" alt="star"><span> Chosen (<span class="numb-items"></span>)</span>
                    </a>
                </div>

                <form action="" class="form-search">
                    <button class="search-butt" type="button"><img class="icon-search" src="~/Content/css/IMG/icon_search.png" alt="icon_search"></button>
                    <input class="input-search" type="search" placeholder="search something...">
                </form>

                <nav id="nav-menu">
                    <ul>
                        <li><a href="">Sports</a></li>
                        <li><a href="">Art</a></li>
                        <li><a href="">Cars</a></li>
                        <li><a href="">Education</a></li>
                        <!--<li><a href="">Holidays</a></li>-->
                        <li><a href="">Other</a></li>
                    </ul>
                </nav>

                <hr class="hr-top">
                <hr class="hr-top-2">
            </header>

            <section id="headings" style="margin:auto;">
                <h1 style="margin:auto;">EVENTS IN EPAM SYSTEMS</h1>
                <span class="subheader-h1">As you know, EPAM provides a lot of interesting events for EPAMers</span>
                <a  href="new-events.html" class="white-button" style="margin: auto; margin-top: 3em;">CHECK NEW EVENTS</a>
            </section>

            <section id="preview-photo">
                <div class="preview-photo-div">
                    <a href="category-all.html" id="photo-1-link">
                        <div class="photo-1"></div>
                    </a>
                    <a href="category-all.html" id="photo-2-link">
                        <div class="photo-2">
                            <h2>join us</h2>
                            <br><span>next event</span>
                        </div>
                    </a>
                    <a href="category-all.html" id="photo-3-link">
                        <div class="photo-1"></div>
                    </a>
                    <a href="category-all.html" id="photo-4-link">
                        <div class="photo-2">
                            <h2>join us</h2>
                            <br><span>next event</span>
                        </div>
                    </a>
                    <a href="category-all.html" id="photo-4-link">
                        <div class="photo-2">
                            <h2>join us</h2>
                            <br><span>next event</span>
                        </div>
                    </a>
                    <a href="category-all.html" id="photo-1-link">
                        <div class="photo-1"></div>
                    </a>
                    <a href="category-all.html" id="photo-2-link">
                        <div class="photo-2">
                            <h2>join us</h2>
                            <br><span>next event</span>
                        </div>
                    </a>
                    <a href="category-all.html" id="photo-4-link">
                        <div class="photo-1"></div>
                    </a>
                </div>
            </section>

            

            <section id="subscribe">
                <h2>sign up to receive our updates</h2>
                <span class="subheader-h2">You will receive e-mails with interesting events</span>
                <form action="" class="form-subscribe">
                    <input type="text" placeholder="Your e-mail">
                    <button type="submit" name="button">add</button>
                </form>
            </section>

            @*@foreach (Event event1 in Model)

            {

                <div>Title: @event1.Title</div>

            }*@

            @foreach (Event event1 in Model)
            {
                <div>Title: @event1.Title</div>
            }

            <footer>

                <div class="footer-div">
                    <ul class="collection">
                        <li class="headings">SECTION</li>
                        <li><a href="">Sports</a></li>
                        <li><a href="">Art</a></li>
                        <li><a href="">Cars</a></li>
                        <li><a href="">Education</a></li>
                        <li><a href="">Holidays</a></li>
                        <li><a href="">Other</a></li>
                    </ul>
                    <ul class="site">
                        <li class="headings">SITE</li>
                        <li><a href="">Terms of Service</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Copyright Policy</a></li>
                        <li><a href="">Press Kit</a></li>
                        <li><a href="">Support</a></li>
                    </ul>
                    <ul class="shop">
                        <li class="headings">STORY</li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Career</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                    <ul class="social">
                        <li class="headings">SOCIAL</li>
                        <li>Site is made with love in Kharkiv,</li>
                        <li>2014 &copy All rights reserved.</li>
                        <li class="icons">
                            <a class="icon" href=""><img src="~/Content/css/IMG/icon_twit.png" alt=""></a>
                            <a class="icon" href=""><img src="~/Content/css/IMG/icon_face.png" alt=""></a>
                            <a class="icon" href=""><img src="~/Content/css/IMG/icon_photo.png" alt=""></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
    </html>









   

